.user-container {
    width:50px;
    height:50px;
    border-radius:50%;
    background-color: orangered;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color:white;
    font-size: 18px;
}